extends layout

block content
  h1= title
  p.
    #{description}.
    Helps you decide if upgrading a dependency is likely to succeed.

  p Use with <a href="https://npmjs.org/package/next-update">next-update</a> dependency upgrade checker.

  h3 Why?
  p.
    Even if you have some tests, knowing if other people upgraded from version X of
    module A to version Y in 100% of cases brings peace of mind. Similarly, if
    most people had failed to upgrade automatically from X to Y, that means breaking
    API changes and upgrade might be harder for your project.

  div.totals-container
    div.totals
      span#packages 0
      |  total packages
    div.totals
      span#updates 0
      |  total updates

  h2.clear-both Module update statistics

  div
    p See global upgrade statistics for a package
      input(type="text", placeholder="package name", ng-model="packageName"
        title="Enter package module to see update statistics")
      button.btn.btn-default(ng-click="loadStats()" title="click to search") Load

    p.not-found(ng-show="packageNotFoundMessage") {{packageNotFoundMessage}}

    table.table.table-condensed.table-bordered(ng-show="updates")
      thead
        tr
          th(ng-repeat="version in header") {{version}}
      tbody
        tr(ng-repeat="row in info")
          td(ng-repeat="update in row track by $index",
            title="{{$first ? 'Updating from version ' + update : update ? update.success + ' successful, ' + update.failure + ' failed' : 'No information available'}}").
            {{$first ? update : (update.probability|percent:0) }}

  h2 GET routes

  :markdown
    `/package/name`

    returns all statistics for given package, [example](/package/lodash)

    `/package/name/from version/to version`

    returns statistics for updating package from and to specific version,
    [example](/package/lodash/1.0.0/2.4.0) The versions should be `x.y.z` strings.

    `/version`

    returns #{name} server version

  h2 Small print

  :markdown
    Author: Gleb Bahmutov &copy; 2013

    * [@bahmutov](https://twitter.com/bahmutov)
    * [glebbahmutov.com](http://glebbahmutov.com)
    * [blog](http://bahmutov.calepin.co/)

    License: MIT - do anything with the code, but don't blame me if it does not work.

    Spread the word: tweet, star on github, click *endorse*, etc.

    Support: if you find any problems with this module, email / tweet / open issue on Github
